<div class="contact-buttons">
  <a #messengerBtn [href]="contactLinks.messenger" target="_blank" class="contact-button messenger" [title]="tooltips.messenger">
    <i class="fab fa-facebook-messenger"></i>
  </a>
  <a #zaloBtn [href]="contactLinks.zalo" target="_blank" class="contact-button zalo" [title]="tooltips.zalo">
    <i class="fab fa-whatsapp"></i>
  </a>
  <a #phoneBtn [href]="contactLinks.phone" class="contact-button phone" [title]="tooltips.phone">
    <i class="fas fa-phone"></i>
  </a>
</div>
