<div class="wrapper">
  <div class="statistics-container">
    <a class="logo" (click)="scrollToInfoSection()">
      <span>Đăng ký ngay</span>
    </a>
    <div class="bound">
      <div class="center-circle">
        <img src="../../../assets/2.png" alt="logo">
      </div>
    </div>
    <div class="stat-items">
      <div
        class="stat-item"
        *ngFor="let stat of stats; let i = index"
        [ngClass]="'item-' + (i + 1)"
      >
        <div class="text">
          <div class="stat-number">
            {{ stat.currentValue }}<span> {{ stat.unit }}</span>
          </div>
          <div class="stat-desc">{{ stat.description }}</div>
        </div>
        <div class="icon-circle">
          <img
            [src]="
              'https://www.gdufs.edu.cn/images/list13_ico' + (5 - i) + '.png'
            "
            [alt]="stat.description"
          />
        </div>
      </div>
    </div>
  </div>
  <p class="content" style="text-align: center;">
    Hợp tác hơn 50 trường hàng đầu trung quốc và là cơ sở giảng dạy được bộ giáo dục và đào tao công nhận đảm bảo đầy đủ chất lượng đầy đủ trang thiết bị giảng dạy .
  </p>
</div>
